{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>LA DOTA</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, quam! Iste delectus blanditiis possimus ex. Nostrum dolore eum temporibus aspernatur id. Deleniti nisi adipisci quibusdam dicta natus autem harum consequuntur.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/dota2.jpg"  class="img-thumbnail">
    </div>
</div>

{{> footer }}